interpolator/InterpolatorGui.sc~
interpolator/Parameter.sc~
interpolator/ParameterGui.sc~
interpolator/Preset.sc~
interpolator/PresetGui.sc~
interpolator/guiQT.sc~
interpolator/ColorList.sc~
interpolator/PresetInterpolatorGui.sc~
interpolator/Color.sc~
interpolator/PresetInterpolatorFullGui.sc~
interpolator/PresetInterpolatorGuiExtras.sc~
interpolator/todo.org~
